<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - SchedulerDemo</title>
    <link rel="stylesheet" href="~/lib/dx.light.css" />
</head>
<body>
    @RenderBody()
</body>
</html>
